@model Bieb.Domain.Entities.Book

@* Placeholder view. We need infrastructure for actual cover pictures before we can finish this view. *@

<div class="cover">
    <div class="back col-xs-4">
        <p class="publisher">
            @if (Model.Publisher != null)
            {
                @Model.Publisher.Name
            }
        </p>
    </div>
    <div class="front col-xs-4">
        <p class="main-person">
            @if (Model.Editors.Any())
            {
                @Html.Raw(string.Join(", ", Model.Editors.Select(person => person.FullName)))
            }
            else if (Model.AllAuthors.Any())
            {
                @Html.Raw(string.Join(", ", Model.AllAuthors.Select(person => person.FullName)))
            }
        </p>
        <p class="title">
            @Model.Title
        </p>
    </div>
</div>