@model Bieb.Domain.Entities.Book

@{
    ViewBag.Title = Model.Title;
}

@{ Html.RenderPartial("Card", Model); }

<section class="reviews">
@foreach (var review in Model.Reviews)
{ 
    <p>@review.ReviewText</p>
}
</section>

@if (Model.Stories.Count > 1)
{
    <section class="itemList">
        <h3>@BiebResources.SharedStrings.Stories:</h3>
        @{ Html.RenderPartial("~/Views/Stories/ItemList.cshtml", Model.Stories.Values); }
    </section>
}

@{ Html.RenderPartial("MoreInfo", Model); }