@model IEnumerable<Bieb.Domain.Entities.Book>

<div class="row">
@foreach (var book in Model) 
{
    <div class="col-md-4">
        <h4>@Html.ActionLink(book.Title, "Details", new { controller = "Books", id = book.Id })</h4>
                
        <span>@book.BookType</span>

        @if (!string.IsNullOrWhiteSpace(book.Isbn))
        {
            <span>, @BiebResources.SharedStrings.Isbn: @book.Isbn</span>
        }
    </div>
}
</div>