@model IEnumerable<Bieb.Domain.Entities.Book>

@foreach (var book in Model) 
{
    <div class="col-md-4 panel">
        <p class="lead">@Html.ActionLink(book.Title, "Details", new { controller = "Books", id = book.Id })</p>
                
        <span>@book.BookType</span>

        @if (!string.IsNullOrWhiteSpace(book.Isbn))
        {
            <span>, @BiebResources.SharedStrings.Isbn: @book.Isbn</span>
        }
    </div>
}