@model Bieb.Domain.Entities.Book

@{
    ViewBag.Title = Model.Title;
}

@{ Html.RenderPartial("Card", Model); }

<section class="reviews">
@foreach (var review in Model.Reviews)
{ 
    <p>@review.ReviewText</p>
}
</section> <!-- end .reviews -->

@if (Model.Stories.Count > 1)
{
    <section class="itemList">
        @{ Html.RenderPartial("~/Views/Story/ItemList.cshtml", Model.Stories.Values); }
    </section> <!-- end .itemList -->
}