@model IEnumerable<Bieb.Domain.Entities.Book>

<ul class="itemList">
@foreach (var item in Model) 
{
    <li>
        <img class="bookCoverIcon" src="@Url.Content("~/Content/images/book-placeholder.png")" alt="book cover icon" />
        <h3>@Html.ActionLink(item.Title, "Details", new { controller = "Book", id = item.Id })</h3>
    </li>
}
</ul>
