@model IEnumerable<Bieb.Domain.Entities.Book>

<ul>
@foreach (var book in Model) 
{
    <li>
        <img class="itemRepresentation" src="@Url.Content("~/Content/images/book-placeholder-front-small.png")" alt="book cover icon" />
        <h3>@Html.ActionLink(book.Title + book.Subtitle, "Details", new { controller = "Book", id = book.Id })</h3>
        <span>@book.BookType</span>
        @if (book.Isbn != null)
        {
            <br />
            <span>@book.Isbn</span>
        }
    </li>
}
</ul>
