@font-face {
  font-family: "MuseoSans500Regular";
  src: url("../fonts/museo_sans500-webfont.eot");
  src: url("../fonts/museo_sans500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_sans500-webfont.woff") format("woff"), url("../fonts/museo_sans500-webfont.ttf") format("truetype"), url("../fonts/museo_sans500-webfont.svg#MuseoSans500Regular") format("svg"); }

@font-face {
  font-family: "handwriting-draft_regular";
  src: url("../fonts/handwriting-draft_free-version-webfont.eot");
  src: url("../fonts/handwriting-draft_free-version-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/handwriting-draft_free-version-webfont.woff") format("woff"), url("../fonts/handwriting-draft_free-version-webfont.ttf") format("truetype"), url("../fonts/handwriting-draft_free-version-webfont.svg#handwriting-draft_regular") format("svg"); }

body {
  font-family: "MuseoSans500Regular", Georgia, serif;
  font-size: 1.5em;
  color: #333333;
  background: white;
  background-image: url("/Content/images/background-sprite.png"); }

blockquote {
  font-size: inherit;
  font-style: italic; }

a {
  color: #89003d; }
  a:hover {
    text-decoration: none;
    color: #ff0080; }

.img-bordered {
  border: 1px solid #333333; }

table td, table th {
  white-space: nowrap; }
table .main-column {
  white-space: normal;
  width: 100%; }

nav {
  background: #333333;
  margin-bottom: 0.375em; }
  nav .col-xs-2 {
    padding: 0; }
  nav div + div {
    border-left: 1px solid #ff0080; }
  nav a {
    display: block;
    width: 100%;
    padding: 0.75em;
    color: white; }
  nav a:hover, nav a.active {
    color: white;
    background: #ff0080; }

.title {
  border-bottom: 1px solid #eeeeee;
  clear: both;
  margin-bottom: 0.75em; }
  .title a {
    color: #666666;
    font-size: 3.5em;
    font-family: 'handwriting-draft_regular', Verdana, serif; }
    .title a:hover {
      color: #ff0080; }

.card {
  color: white;
  background-color: #333333; }

.cover {
  margin-right: 50px; }
  .cover .back, .cover .front {
    background-color: #eeeeee;
    border: 1px solid #BBB;
    height: 300px; }

