@import "site-variables";

@font-face {
    font-family: "MuseoSans500Regular";
    src: url('../fonts/museo_sans500-webfont.eot');
    src: url('../fonts/museo_sans500-webfont.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/museo_sans500-webfont.woff') format('woff'), 
		 url('../fonts/museo_sans500-webfont.ttf') format('truetype'), 
		 url('../fonts/museo_sans500-webfont.svg#MuseoSans500Regular') format('svg');
}

@font-face {
    font-family: "handwriting-draft_regular";
    src: url('../fonts/handwriting-draft_free-version-webfont.eot');
    src: url('../fonts/handwriting-draft_free-version-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/handwriting-draft_free-version-webfont.woff') format('woff'), 
		 url('../fonts/handwriting-draft_free-version-webfont.ttf') format('truetype'), 
		 url('../fonts/handwriting-draft_free-version-webfont.svg#handwriting-draft_regular') format('svg');
}

body {
	font-family: "MuseoSans500Regular", Georgia, serif;
	font-size: 1.5em;
	color: $main-color;
	background: $background-color;
    background-image: url('/Content/images/background-sprite.png');
	padding-top: 60px; /* required for BS .navbar-fixed */
}

header {
	margin-bottom: $text-gutter;
}

blockquote {
	font-size: inherit;
	font-style: italic;
}

a {
	color: $action-color-darker;
	&:hover { 
		text-decoration: none;
		color: $action-color;
	}
}

.img-bordered {
	border: 1px solid $main-color;
}


@media (min-width: 992px) { 
	.single-topic-table {
		td, th {
			white-space: nowrap;
		}

		.main-topic {
			white-space: normal;
			width: 100%;
		}
	}
}


.navbar-inverse {
	background-color: $main-color;
}

.navbar-inverse .navbar-nav {
	li > a {
		color: $background-color;
	}

	li:hover, li.active > a {
		color: $background-color;
		background: $action-color;
	}
}

.title {
	border-bottom: 1px solid $background-color-darker;
	clear: both;
	margin-bottom: $text-gutter;

	a { 
		color: $main-color-lighter; 
		font-size: 3.5em;
		font-family: 'handwriting-draft_regular', Verdana, serif;
		&:hover { color: $action-color; }
	}
}

.panel {
	color: $background-color;
	background-color: $main-color;

	h1 {
		font-size: 1.65em;
		margin-top: $text-gutter / 2;
	}

	h2 {
		font-size: 1.3em;
		margin-top: 0;
	}
	
	a {
		color: $action-color-lighter;
		&:hover { 
			text-decoration: none;
			color: $action-color;
		}
	}
}

.cover {
	margin-right: 50px;

	.back, .front {
		background-color: $background-color-darker;
		border: 1px solid #BBB;
		height: 300px;
	}
}

.goodreads {
	border: 1px solid $background-color-darker;
	background-color: $background-color;
}