@font-face {
  font-family: "MuseoSans500Regular";
  src: url("../fonts/museo_sans500-webfont.eot");
  src: url("../fonts/museo_sans500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_sans500-webfont.woff") format("woff"), url("../fonts/museo_sans500-webfont.ttf") format("truetype"), url("../fonts/museo_sans500-webfont.svg#MuseoSans500Regular") format("svg"); }

@font-face {
  font-family: "handwriting-draft_regular";
  src: url("../fonts/handwriting-draft_free-version-webfont.eot");
  src: url("../fonts/handwriting-draft_free-version-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/handwriting-draft_free-version-webfont.woff") format("woff"), url("../fonts/handwriting-draft_free-version-webfont.ttf") format("truetype"), url("../fonts/handwriting-draft_free-version-webfont.svg#handwriting-draft_regular") format("svg"); }

body {
  font-family: "MuseoSans500Regular", Georgia, serif;
  font-size: 1.5em;
  color: #333333;
  background: white;
  background-image: url("/Content/images/background-sprite.png");
  padding-top: 60px;
  /* required for BS .navbar-fixed */ }

header {
  margin-bottom: 0.75em; }

blockquote {
  font-size: inherit;
  font-style: italic; }

a {
  color: #89003d; }
  a:hover {
    text-decoration: none;
    color: #ff0080; }

.img-bordered {
  border: 1px solid #333333; }

@media (min-width: 992px) {
  .single-topic-table td, .single-topic-table th {
    white-space: nowrap; }
  .single-topic-table .main-topic {
    white-space: normal;
    width: 100%; } }
.navbar-inverse {
  background-color: #333333; }

.navbar-inverse .navbar-nav li > a {
  color: white; }
.navbar-inverse .navbar-nav li:hover, .navbar-inverse .navbar-nav li.active > a {
  color: white;
  background: #ff0080; }

.title {
  border-bottom: 1px solid #eeeeee;
  clear: both;
  margin-bottom: 0.75em; }
  .title a {
    color: #666666;
    font-size: 3.5em;
    font-family: 'handwriting-draft_regular', Verdana, serif; }
    .title a:hover {
      color: #ff0080; }

.panel {
  color: white;
  background-color: #333333; }
  .panel h1 {
    font-size: 1.65em;
    margin-top: 0.375em; }
  .panel h2 {
    font-size: 1.3em;
    margin-top: 0; }
  .panel a {
    color: #ffd8ed; }
    .panel a:hover {
      text-decoration: none;
      color: #ff0080; }

.cover {
  margin-right: 50px; }
  .cover .back, .cover .front {
    background-color: #eeeeee;
    border: 1px solid #BBB;
    height: 300px; }

.goodreads {
  margin: 0; }
  .goodreads iframe {
    border: 1px solid #eeeeee;
    background-color: white; }

