$main-color: #333333;
$main-color-lighter: #666666;
$background-color: #FFFFFF;
$background-color-darker: #EEEEEE;
$action-color: #FF0080;
$action-color-darker: #89003D;
$action-color-lighter: #FFD8ED;
$text-gutter: 0.75em;