.personCard {
	position: relative;
	background-color: #FFFFFF;
	padding: 1.5em 1em 0;
	margin: 0;
	width: 15em;
	float: right;
	font: 1em/1.5em Georgia, "Times New Roman", serif;
	position: relative;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.1) inset;
}

/* Lifted shadows on infobox */
.personCard:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: .3em;
	right: .6em;
	width: 1em;
	height: 95%;
	max-height: 14em;
	-webkit-box-shadow: 10px 0 4px rgba(0, 0, 0, .5);
	-moz-box-shadow: 10px 0 4px rgba(0, 0, 0, .5);
	box-shadow: 10px 0 4px rgba(0, 0, 0, .5);
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	transform: rotate(1deg);
}

.personCard .portrait {
    font-size: 120px;
    line-height: 120px;
    border: 2px solid #DED;
    display: block;
    text-align: center;
}

section.books {
}

ul.itemList li {
    display: inline-block;
    overflow: auto;
    border: 1px solid #EADFD7;
    background-color: #F4EEEB;
    width: 280px;
    height: 120px;
}

ul.itemList img.bookCoverIcon {
    margin: 8px;
    float: left;
}