.card {
	position: relative;
	background-color: #FFFFFF;
	padding: 1em;
	margin: 0;
	width: 15em;
	float: right;
	font: 1em/1.5em Georgia, "Times New Roman", serif;
	position: relative;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.1) inset;
}

/* Lifted shadows on infobox */
.card:after {
	content: "";
	position: absolute;
	z-index: -1;
	top: .3em;
	right: .6em;
	width: 1em;
	height: 95%;
	max-height: 14em;
	-webkit-box-shadow: 10px 0 4px rgba(0, 0, 0, .5);
	-moz-box-shadow: 10px 0 4px rgba(0, 0, 0, .5);
	box-shadow: 10px 0 4px rgba(0, 0, 0, .5);
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	transform: rotate(1deg);
}

.card .portrait {
    display: block;
    margin: 0 auto;
}

section.books {
}

ul.itemList li {
    display: inline-block;
	margin: 0 1em 1.5em 0;
    overflow: auto;
    border: 1px solid #EADFD7;
    background-color: #FFFFFF;
    width: 260px;
    height: 120px;
	position: relative;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.1) inset;
}


ul.itemList img.itemRepresentation {
    margin: 8px;
    float: left;
}