@font-face {
    font-family: 'Museo500Regular';
    src: url('/Content/fonts/museo500-webfont.eot');
    src: url('/Content/fonts/museo500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/museo500-webfont.woff') format('woff'),
         url('/Content/fonts/museo500-webfont.ttf') format('truetype'),
         url('/Content/fonts/museo500-webfont.svg#Museo500Regular') format('svg');
}

@font-face {
    font-family: 'Museo700Regular';
    src: url('/Content/fonts/museo700-webfont.eot');
    src: url('/Content/fonts/museo700-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/museo700-webfont.woff') format('woff'),
         url('/Content/fonts/museo700-webfont.ttf') format('truetype'),
         url('/Content/fonts/museo700-webfont.svg#Museo700Regular') format('svg');
}

@font-face {
	font-family: "MuseoSans500Regular";
	src: url('/Content/fonts/museo_sans500-webfont.eot');
    src: url('/Content/fonts/museo_sans500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/museo_sans500-webfont.woff') format('woff'),
         url('/Content/fonts/museo_sans500-webfont.ttf') format('truetype'),
         url('/Content/fonts/museo_sans500-webfont.svg#MuseoSans500Regular') format('svg');
}

@font-face {
    font-family: 'handwriting-draft_free-versRg';
    src: url('/Content/fonts/handwriting-draft_free-version-webfont.eot');
    src: url('/Content/fonts/handwriting-draft_free-version-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/handwriting-draft_free-version-webfont.woff') format('woff'),
         url('/Content/fonts/handwriting-draft_free-version-webfont.ttf') format('truetype'),
         url('/Content/fonts/handwriting-draft_free-version-webfont.svg#handwriting-draft_free-versRg') format('svg');
}

body {
	font: normal 100%/1.5em "MuseoSans500Regular", Georgia, serif;
	color: #000000;
	background: #FFFFFF;
}

a { 
    color: #0000FF; 
}

a:hover {
    color: #1d60ff;
}

header {
	text-align: center;
}

header .title {
	font: normal 5em/1.5em "handwriting-draft_free-versRg", Georgia, serif;
}

ul#menu li {
    display: inline-block;
}

ul#menu li a {
    background-color: #E8EEF4;
    color: #034AF3;
    padding: 0.4em 1.0em;
    display: inline-block;
}

ul#menu li a.active, ul#menu li a:hover {
    color: #000;
}


h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

h3, h4, h5, h6 {
    font-size: 1em;
}

p {
	margin-bottom: 1.5em;
}

table td, table th  {
    padding: 2px 3px;
    border: solid 1px #D8DEE4;
    font-size: 0.9em;
    line-height: normal;
    background-color: #FFFFFF;
}

table th {
    text-align: left;
    background-color: #e8eef4;
}

table.listing {
    width: 100%;
}

div.paging {
    margin-top: 1em;
}

.wrapper {
	background: #FFF;
	max-width: 65em;
	width: 90%;
	margin: 1.5em auto;
	padding: 1.5em 2em;
	border: 1px solid #DDD;
	background: #FFFFFF;
	z-index: 0;
	min-height: 30em;
}


section#main {
    margin-top: 1em;
}

footer, 
#footer {
    color: #BBB;
    text-align: center;
    margin: 3em 0 0 0;
    font-size: .7em;
    clear: both;
}

div#logindisplay { 
    float: right;
}

.card {
    position: relative;
	background: #FFFFFF;
	padding: 1.5em 1em 0;
	margin: 0 0 0 1.85em;
	width: 19em;
	float: right;
	border-left: 1px solid #ddd;
	font: normal 100% "Museo500Regular", Verdana, sans-serif;
}

.card .representation {
    display: block;
    width: 19em;
    margin: 0 auto;
}

.frontCover,
.backCover {
	width: 19em;
	height: 30em; /* temp img only! */
	float: left;
	margin: 0;
}

.frontCover {
	margin: 0 0 0 2em;
}

section.itemList {
    clear: left;
}

section.itemList li {
    position: relative;
	display: inline-block;
	width: 19em;
	margin: 0 2em 1.5em 0;
	padding: 1.5em 1em 0;
	float: left;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	background: #FFFFFF;
	overflow: auto;
}

section.itemList li:nth-child(2n) {
    margin: 0 0 1.5em;
}

section.itemList img.itemRepresentation {
	width: 4em;
	height: 6em; /* temp img only! */
	margin: 0 1em 1.5em 0;
	float: left;
}