/*************************  To Do  ****************************/
/* Fix vertical rhythm
/* Add responsivity
/* Add support for all modern browsers
/* Perhaps add support for older browsers (how far back?)
/**************************************************************/



/*************************  Colors  ***************************/
/* Links					#6E0030
/* Links (inverted)         #FFD8ED
/* Links hover, details  	#FF0080  PINK!
/* Text, borders, etc		#333333
/* Title					#666666
/* TH and TD border         #EEEEEE
/* TH background            #FAFAFA
/* Background, nav links	#FFFFFF
/**************************************************************/



@font-face {
    font-family: "handwriting-draft_regular";
    src: url('fonts/handwriting-draft_free-version-webfont.eot');
    src: url('fonts/handwriting-draft_free-version-webfont.eot?#iefix') format('embedded-opentype'), 
		 url('fonts/handwriting-draft_free-version-webfont.woff') format('woff'), 
		 url('fonts/handwriting-draft_free-version-webfont.ttf') format('truetype'), 
		 url('fonts/handwriting-draft_free-version-webfont.svg#handwriting-draft_regular') format('svg');
}

@font-face {
    font-family: "MuseoSans500Regular";
    src: url('fonts/museo_sans500-webfont.eot');
    src: url('fonts/museo_sans500-webfont.eot?#iefix') format('embedded-opentype'), 
		 url('fonts/museo_sans500-webfont.woff') format('woff'), 
		 url('fonts/museo_sans500-webfont.ttf') format('truetype'), 
		 url('fonts/museo_sans500-webfont.svg#MuseoSans500Regular') format('svg');
}



/* Body */
body {
	font: normal 100%/1.5em "MuseoSans500Regular", Georgia, serif;
	color: #333333;
	background: #FFFFFF;
    background-image: url('/Content/images/background-sprite.png');
}

/* Basic HTML elements */
blockquote {
    font-style: italic;
}

small {
    font-size: 0.70em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    margin-bottom: 0.3em;
}

h5, h6 {
    margin-bottom: 0;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }

p + p,
ul + p,
table + p {
    margin-top: 0.5em;
}

section + section {
    margin-top: 1.0em;
}


/* Header */
header {
	width: 100%;
	position: absolute;
}

/* Nav */
nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #333333;
}

nav #menu {
	position: relative;
	width: 61em;
	margin: 0 auto;
}

#search {
    position: absolute;
	top: 3.5em;
	right: 0;
    border: none;
    width: 100%;
    text-align: right;
}

nav li {
    position: relative;
	float: left;
	display: inline-block;
	width: 10.167em; 
	border-right: 1px solid #FF0080;
}

nav li:first-child {   
	border-left: 1px solid #FF0080;
}

nav li a {
	display: inline-block;
	color: #FFFFFF;
	padding: 0.75em;
	width: 100%;
}

nav li a:hover,
nav li a.active
 {
	background-color: #FF0080;
	color: #FFFFFF;
}

/* Main title */
header .title {
	font: normal 3.5em/1.5em 'handwriting-draft_regular', Verdana, serif;		/* 56 / 16 */
	margin: 0 auto 0.5em;
	padding: 1.5em 0 0.5em;
	width: 17.43em;																/* 976 / 56 */
	border-bottom: 1px solid #666666;
}

header .title a {
	color: #666666;
}

header .title a:hover {
	color: #FF0080;
}




.wrapper {
	width: 61em;
	margin: 0 auto;
	min-height: 100%;
	padding-bottom: 1.5em;  /* must be same height as the footer */
}

#main {
    overflow: auto;
	padding: 14em 0 2em 0;
	margin-bottom: 2em;
	width: 100%;
}  

footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #333333;
	color: #FFFFFF;
	height: 1.5em;
	margin-top: -1.5em;
	clear: both;
}

footer p {
    width: 61em;                            /* 976 / 16 */
    margin: 0 auto;
    padding: 0 0.75em;
    border-left: 1px solid #FF0080;
    border-right: 1px solid #FF0080;
}

footer span {
	color: #FF0080;
}

footer a {
	color: #FFFFFF;
}

footer #powered-by {
    float: right;
}

table.stories {
	width: 40em;                /* 640 / 16 */
}

table td, 
table th {
    font-size: 0.875em;	        /* 14 / 16 */
	line-height: 1.642em;       /* 23 / 14 */   /* (compensate for 1 px border */
    padding: 0 0.4em;
    vertical-align: top;
}

.card {
	width: 19em;                /* 304 / 16 */
	position: relative;
	float: left;
    background: #333333;
    color: #FFFFFF;
    padding: 1.0em;
    margin: 0 2em 2em 0;
}

.card h1 { font-size: 1.5em; }
.card h2 { font-size: 1.1em; }

.card a {
    color: #FFD8ED;
}

.info-points h6 {
    margin-top: 0.5em;
}

a {
    color: #6E0030;
}

a:hover {
    color: #FF0080;
}


td, 
th {
    background-color: #FFFFFF;
    border: solid 1px #EEEEEE;
    vertical-align: middle;
}

th {
    background-color: #FAFAFA;
    text-align: left;
}

.listing {
    margin: 1em 0;
    width: 100%;
}

.listing td,
.listing th {
    font-size: 0.9375em;        /* 15 / 16 */
	line-height: 1.533em;       /* 23 / 15 */ /* (compensate for 1 px border */
    padding: 0 0.4em;
    white-space: nowrap;
}

.mainColumn {
    white-space: normal;
    width: 100%;
}

.listing .icon {
    text-align: center;
    vertical-align: middle;
}

.listing .text {
    text-align: left;
}

.itemList li {
    background-color: #EEEEEE;
    padding: 0.5em 1em;
    margin: 0 1em 1em 0;
    display: inline-block;
    width: 19em;
    min-height: 6em;
    vertical-align: bottom;
}



ul.searchResults > li {
    padding: 0.5em 0;
    border-bottom: 1px dotted #666666;
}
    



/* Custom text selection color */
::selection {
	background: #FF0080;
	color: #FFFFFF;
	text-shadow: none;
}

::-webkit-selection {
	background: #FF0080;
	color: #FFFFFF;
	text-shadow: none;
}

::-moz-selection {
	background: #FF0080;
	color: #FFFFFF;
	text-shadow: none;
}


ul.search-options li {
	display: inline-block;
}

ul.search-options li a {
    display: block;
	background: #333333;
	padding: 1em;
    color: #FFD8ED;
}

ul.search-options li a:hover {
    color: #FF0080;
}

#home-explanation p {
    margin-top: 1.5em;
}

#home-image {
    margin: 0 0 2em 2em;
    border: 1px solid #333333;
    float: right;
}

.teaser-articles {
    border-top: 1px solid #333333;
    clear: both;
}

.teaser-articles article {
    display: inline-block;
    width: 33%;
    padding: 2em 2em 0 0;
    vertical-align: top;
}

iframe.goodreads {
    width: 38em;
    height: 30em;
}