/*----------------------------------------------------------
The base color for this template is #B77F50. If you'd like
to use a different color start by replacing all instances of
#B77F50 with your new color.
----------------------------------------------------------*/
body {
    background-color: #B77F50;
    font-size: .85em;
    color: #696969;
}

a { color: #0000FF; }

a:hover {
    color: #1d60ff;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    color: #000;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    margin: 0 auto;
}

header, #header {
    position: relative;
}

header h1, #header h1 {
    font-weight: bold;
    color: #FFF;
    line-height: 2em;
    font-size: 32px;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    background-color: #FFF;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #B77F50 solid;
    position: relative;
    text-align: right;
}

ul#menu li {
    display: inline;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #FFF;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    line-height: 2.8em;
    background-color: #E8EEF4;
    color: #034AF3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #FFF;
}

ul#menu li a.active {
    color: #000;
    background-color: #FFF;
    border-bottom: 1px solid #FFF;
}

/* TABLE
----------------------------------------------------------*/

table td, table th  {
    padding: 4px 6px;
    border: solid 1px #D8DEE4;
}

table th {
    text-align: left;
    background-color: #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    float: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: #FFF;
}

#logindisplay a:link {
    color: #FFF;
}

#logindisplay a:visited {
    color: #FFF;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: #FFF;
    text-decoration: underline;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #FF0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #FF0000;
    background-color: #FFeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #FF0000;
}

.validation-summary-valid {
    display: none;
}