body {
	font: 18px/27px Verdana, Arial, sans-serif;
	color: #000000;
	background: #EEEEEE;
}

a { color: #0000FF; }

a:hover {
    color: #1d60ff;
}

header {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

h3, h4, h5, h6 {
    font-size: 1em;
}

p {
	margin-bottom: 1.5em;
}

table td, table th  {
    padding: 2px 3px;
    border: solid 1px #D8DEE4;
    font-size: 0.7em;
    line-height: normal;
    background-color: #FFFFFF;
}

table th {
    text-align: left;
    background-color: #e8eef4;
}


.wrapper {
	max-width: 49em;
	width: 90%;
	margin: 1.5em auto;
	padding: 1.5em 1em 1px;
	background: #FFFFFF url(/Content/images/bg.png) repeat scroll top left;
}

/* Drop-shadows on wrapper */
.wrapper {
	position: relative;
	border: 1px solid #D8DEE4;
	min-height: 30em;
}

footer, 
#footer {
    color: #BBB;
    text-align: center;
    margin: 3em 0 0 0;
    font-size: .7em;
}

ul#menu li {
    display: inline-block;
}

ul#menu li a {
    background-color: #E8EEF4;
    color: #034AF3;
    padding: 0.4em 1.0em;
    display: inline-block;
    -moz-box-sizing: border-box;
}

ul#menu li a.active, ul#menu li a:hover {
    color: #000;
}

div#logindisplay { 
    float: right;
}

div#title {
    padding: 1em;
}