@model Bieb.Domain.Entities.Story

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Title</h1>
@{ Html.RenderPartial("Card", Model); }


@if (Model.Authors.Any())
{
    <section class="itemList">
        <h3>@BiebResources.SharedStrings.Authors</h3>
        @{ Html.RenderPartial("~/Views/People/ItemList.cshtml", Model.Authors); }
    </section>
}

@if (Model.Translators.Any())
{
    <section class="itemList">
        <h3>@BiebResources.SharedStrings.Translators</h3>
        @{ Html.RenderPartial("~/Views/People/ItemList.cshtml", Model.Translators); }
    </section>
}

