@model Bieb.Domain.Entities.Publisher

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Name</h1>

@if (Model.Books.Any())
{
    <section class="itemList">
        <h3>@BiebResources.PublisherStrings.BooksFromThisPublisher</h3>
        @{ Html.RenderPartial("~/Views/Books/ItemList.cshtml", Model.Books); }
    </section>
}