@model Bieb.Domain.Entities.Person

@{
    ViewBag.Title = Model.FullName;
}

@{ Html.RenderPartial("Card", Model); }

<section class="books">
    <p>Works by @Model.FullName in my library:</p>

    @if (Model.EditedBooks.Count > 0)
    { 
        <section class="itemList editedBooks">
            <h3>Edited Books</h3>
            @{ Html.RenderPartial("~/Views/Book/ItemList.cshtml", Model.EditedBooks); }
        </section>
    }
    
    @if (Model.AuthoredCollections.Count() > 0)
    { 
        <section class="itemList authoredCollections">
            <h3>Authored Collections</h3>
            @{ Html.RenderPartial("~/Views/Book/ItemList.cshtml", Model.AuthoredCollections); }
        </section>
    }
            
    @if (Model.TranslatedStories.Count > 0)
    { 
        <section class="itemList translatedStories">
            <h3>Translated Stories</h3>
            @{ Html.RenderPartial("~/Views/Story/ItemList.cshtml", Model.TranslatedStories); }
        </section>
    }
        
    @if (Model.AuthoredStories.Count > 0)
    {
        <section class="itemList authoredStories">
            <h3>Authored Stories</h3>
            @{ Html.RenderPartial("~/Views/Story/ItemList.cshtml", Model.AuthoredStories); }
        </section>
    }
</section>
