@model IEnumerable<Bieb.Domain.Entities.Person>

<ul class="itemList">
@foreach (var person in Model) 
{
    <li>
        <img class="itemRepresentation" src="@Url.Content("~/Content/images/person-placeholder.png")" alt="book cover icon" />
        <h3>@Html.ActionLink(person.FullName, "Details", new { controller = "Person", id = person.Id })</h3>
    </li>
}
</ul>
