@using (Html.BeginForm("Basic", "Search", FormMethod.Get))
{
    <div class="input-group">
        <input type="text" class="form-control " name="q" placeholder="@BiebResources.SearchStrings.SearchInputPlaceholder" value="@Request.QueryString["q"]" />
        <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
}