@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    @BiebResources.SharedStrings.ErrorOccurredTitle
</h2>
<p>
    @BiebResources.SharedStrings.ErrorOccurredPoem
</p>