@model IEnumerable<Bieb.Domain.Entities.Person>

<ul>
@foreach (var person in Model) 
{
    <li>
        <span>@Html.ActionLink(person.FullName, "Details", new { controller = "People", id = person.Id })</span>
        <p>
            @if (person.Gender != Bieb.Domain.Entities.Gender.Unkown)
            {
                @person.GenderChar
            }

            @if (person.Nationality != null)
            {
                @Html.ImageFlagFor(person)
            }
        
            @string.Join(", ", person.Roles)
        </p>
    </li>
}
</ul>
