@model IEnumerable<Bieb.Web.Models.People.ViewPersonModel>
    
<div class="row">
@foreach (var person in Model) 
{
    <div class="col-lg-4 col-sm-6">
        <div class="panel panel-default panel-body">
            <h4>@Html.ActionLink(person.FullName, "Details", new { controller = "People", id = person.Id })</h4>
            <p>
                @if (person.IsGenderKnown)
                {
                    @person.Gender
                }

                @if (person.IsNationalityKnown)
                {
                    @Html.ImageFlagFor(person.Nationality)
                }
        
                @person.Roles
            </p>
        </div>
    </div>
}
</div>