@model IEnumerable<Bieb.Web.Models.People.LinkablePersonModel>
@if (Model.Any())
{
    <ul>
        @foreach (var person in Model)
        {
            <li>
                @Html.ActionLink(person.Text, "Details", new { id = person.Id, controller = "People" })
            </li>
        }
    </ul>   
}
else
{
    <p>@BiebResources.PeopleStrings.NobodyBornToday</p>
    <blockquote>@BiebResources.PeopleStrings.NobodyQuote</blockquote>
}