@model Bieb.Domain.Entities.Series

@{
    ViewBag.Title = "Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>
@if (!string.IsNullOrEmpty(Model.Subtitle))
{ 
    <h2>@Model.Subtitle</h2>
}
<section class="item-list">
    <h4>@BiebResources.SharedStrings.Books</h4>
    @{ Html.RenderPartial("~/Views/Books/ItemList.cshtml", Model.Books.Values); }
</section>

