@model Bieb.Domain.Entities.Series

@{
    ViewBag.Title = "Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

@if (!string.IsNullOrEmpty(Model.Subtitle))
{ 
    <h2>@Model.Subtitle</h2>
}

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink(BiebResources.SharedStrings.Edit, "Edit", new {Model.Id})
}

<div class="row">
    <div class="col-xs-12">
        <h4>@BiebResources.SharedStrings.Books</h4>
        @{ Html.RenderPartial("~/Views/Books/ItemList.cshtml", Model.Books.Values); }
    </div>
</div>