@model PagedList.IPagedList<Bieb.Domain.Entities.Series>

@{
    ViewBag.Title = "All Series";
}

<p>These are all the <strong>series</strong> from which I have <strong>one or more books</strong> in my library.</p>

<table class="listing">
    <tr>
        <th>
            Title
        </th>
        <th>
            Books in this Series
        </th>
    </tr>

@foreach (var series in Model) {
    <tr>
        <td>
            @Html.ActionLink(series.Title, "Details", new { id=series.Id })
        </td>
        <td class="mainColumn">
            @string.Join(", ", series.Books.Values)
        </td>
    </tr>
}

</table> <!-- end .listing -->

@{ Html.RenderPartial("PagerPartial", Model); }