@model Bieb.Domain.Entities.Story

<div class="card story">
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    @if (Model.Subtitle != null) 
    { 
        <h2>@Html.DisplayFor(model => model.Subtitle)</h2>
    }
    <ul>
        <li>From @Html.ActionLink(Model.Book.Title, "Details", new { id = Model.Book.Id, controller = "Book" })</li>
        @if (Model.Tags.Count > 0)
        { 
            <li>Tags:  @string.Join(", ", Model.Tags)</li>
        }
    </ul>
</div> <!-- end .card .story -->