@model Bieb.Domain.Entities.Story

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Title</h1>
@{ Html.RenderPartial("Card", Model); }


@if (Model.Authors.Count() > 0)
{
    <h3>Authors</h3>
    Html.RenderPartial("~/Views/Person/ItemList.cshtml", Model.Authors);
}


@if (Model.Translators.Count() > 0)
{
    <h3>Translators</h3>
    Html.RenderPartial("~/Views/Person/ItemList.cshtml", Model.Translators);
}


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
