@model PagedList.IPagedList<Bieb.Domain.Entities.Story>

@{
    ViewBag.Title = "All Stories";
}

<table class="listing">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author(s)
        </th>
        <th>
            Book
        </th>
    </tr>

@foreach (var story in Model) {
    <tr>
        <td>
            @Html.ActionLink(story.Title, "Details", new { id = story.Id })
        </td>
        <td>
            @String.Join(", ", story.Authors)
        </td>
        <td>
            @Html.ActionLink(story.Book.Title, "Details", new { id = story.Book.Id, controller = "Book" })
        </td>
    </tr>
}

</table>

@{ Html.RenderPartial("PagerPartial", Model); }