@model IEnumerable<Bieb.Domain.Entities.Story>

<ul>
@foreach (var item in Model) 
{
    <li>
        <img class="itemRepresentation" src="@Url.Content("~/Content/images/book-placeholder.png")" alt="book cover icon" />
        <h3>@Html.ActionLink(item.Title, "Details", new { controller = "Story", id = item.Id })</h3>
    </li>
}
</ul>
