@{
    ViewBag.Title = "About";
}

<h1>@BiebResources.HomeStrings.AboutHeader</h1>

<p>@BiebResources.HomeStrings.AboutIntro</p>
<p>@BiebResources.HomeStrings.AboutDetails</p>
<p>@BiebResources.HomeStrings.AboutOutro</p>