@{
    ViewBag.Title = "Disclaimer";
}

<h1>@BiebResources.HomeStrings.DisclaimerHeader</h1>

<p>@BiebResources.HomeStrings.DisclaimerIntro</p>
<p>@BiebResources.HomeStrings.DisclaimerDetails</p>
<p>@BiebResources.HomeStrings.DisclaimerOutro</p>