@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome</h2>
<p>Welcome to this website: a listing of all the books in my library, as well as the related info on authors, editors, translators, publishers, series and short stories.</p>
<p>Browse at your leisure using the menu or links on the pages. In the future a search option will be added for improved... well... searching.</p>
